<div class="list-container">
    {{#each this.todoList as |todo|}}
        <div class="list-item" data-ref="todos-list.component.item">
            <input type="checkbox" value={{todo.id}} checked={{todo.done}} oninput={{action "onCheckboxInput"}} />
            <span data-ref="todo-list.component.title">{{capitalize todo.title}}</span>
            <span>({{moment-format todo.created 'MM-DD-YYYY'}})</span>
        </div>
    {{/each}}
    <div class="row">
        <button {{action "onClearCompletedTodos"}} disabled={{this.isDisabled}} data-ref="todo-list.component.clear-btn" type="button">Clear completed todos</button>
        <span data-ref="todo-list.component.donecount">({{this.doneCount}})</span>
    </div>
</div>