<div>
    <Input @type="text" @placeholder="Enter title to search" @value={{this.search}}/>
    <button type="button" {{action "onSearch"}}>Search</button>
</div>
<table border="1" class="book-list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each model as |book|}}
            <tr>
                <td>
                    {{book.id}}
                </td>
                <td>
                    {{book.title}}
                </td>
                <td>
                    <LinkTo @route="library.book-details" @model={{book.id}}>Details</LinkTo>
                </td>
            </tr>
        {{/each}}
    </tbody>
</table>
<div class="action">
    <button type="button" {{action "onShowBookForm"}}>Add Book</button>
</div>
{{#if this.bookFormVisible}}
    <Library::BookForm/>
{{/if}}